body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0 none;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

strong {
  font-weight: 800;
}

ol, ul, li {
  list-style: none outside none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.olert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 9999;
}
.olert {
  background: #fff;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  border-radius: .05rem;
  opacity: 0;
  transform-origin: 0 0 ;
  font-size: .35rem;
}
.olert-loading {
  width: 7.6em;
  height: 7.6em;
}
.olert.scaleIn {
  animation: olert-scale-in 0.3s ease both;
}
.olert .content {
  padding:2.7em .20rem 1.7em;
  color: #353535;
  text-align: center
}
.olert .comfirm-button {
  line-height: 1rem;
  font-size: .3rem;
  color: #0bb20c;
  text-align: center;
  position: relative;
}
.olert .comfirm-button:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right:0;
  height: 1px;
  border-top: 1px solid #d5d5d5;
  transform-origin:  0 0;
  transform: scaleY(0.5);
}
.olert .comfirm-button:active {
  background: #d5d5d5;
}

@keyframes olert-scale-in {
  from{
    opacity: 0;
    transform: scale(0) translate(-50%,-50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(-50%,-50%);
  }
}
